

<div class="center hero-unit">
  <h1>East Branch Engineering Employee Management</h1>

  <h2>
    Employee Information, Vacation Status, and Reviews
  </h2>

  <%= link_to "Sign in now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

